/* You can add global styles to this file, and also import other style files */
body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  background-color: #0d192b;
}

html {
  height: 100vh;
}

*::selection {
  background-color: transparent;
}

app-dashboard {
  display: block;
  min-height: 90vh;
}

app-profile {
  display: block;
}

app-loading {
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(50px);
  width: 100%;
  z-index: 200;
}

app-verifyemailalert {
  position: sticky;
  bottom: 0;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px 35px;
  transition: all 0.5s ease 0s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}
header .profile {
  position: relative;
  text-align: center;
}
header .profile > a {
  background-color: #22bc29;
  padding: 5px 10px;
  margin-right: 25px;
  border-radius: 5px;
  text-transform: capitalize;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
header .profile > a span {
  display: inline-block;
  width: 15px;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
  border-left: 10px solid black;
  transform: rotateZ(90deg) rotateY(180deg);
  transition: 0.7s;
}
@media (max-width: 925px) {
  header .profile > a span {
    display: none;
  }
}
header .profile > a span.openedArrow {
  transform: rotateZ(-90deg) rotateY(180deg);
}
header .profile div {
  position: absolute;
  right: 10%;
  width: 175px;
  height: 0px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: height 1s ease-in-out;
  overflow: hidden;
}
@media (max-width: 925px) {
  header .profile div {
    top: -182px;
    flex-direction: column-reverse;
  }
}
header .profile div a {
  display: inline-block;
  padding: 15px 15px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  color: black !important;
}
header .profile div a:hover {
  background-color: grey;
}
header .profile div.openedProfiler {
  height: 182px;
  overflow-y: scroll;
}
header .profile div.openedProfiler a {
  color: black !important;
}
header .profile div.openedProfiler::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
}
header .profile div.openedProfiler::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}
header .profile div.openedProfiler::-webkit-scrollbar-thumb {
  background-color: #5e5e5c;
  border-radius: 10px;
}
header.onScroll {
  background: rgb(150, 150, 150) !important;
  padding: 10px 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
header ul.nav li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
}
header ul.nav li:not(.profile):hover a,
header ul.nav li:not(.profile).activeLink a {
  color: #088178;
}
header ul.nav li:not(.profile) a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  background-color: #088178;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}
header ul.nav li:hover:not(.profile) a::before,
header ul.nav li.activeLink:not(.profile) a::before {
  transform: scaleX(1);
  transform-origin: left;
}
@keyframes afterlines {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
header > a {
  max-width: 7%;
}
header > a img[alt=Logo] {
  width: 100%;
  min-width: 75px;
}
header div:not(.profile) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 80%;
}
header div ul.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  margin: 0;
}
@media (max-width: 925px) {
  header div ul.nav {
    padding-top: 70px;
    gap: 20px;
    justify-content: space-around;
  }
  header div ul.nav li a {
    color: black;
  }
}
header div ul.nav li:not(.profile) {
  list-style-type: none;
  font-weight: bold;
}
header .menuburger-icon {
  display: none;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: rgb(236, 86, 92);
  border-radius: 5px;
  min-width: 30px;
  height: 30px;
  padding: 5px;
  z-index: 5;
}
header .menuburger-icon span {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
  transition: 2s;
}
header .openedMenu {
  right: 0;
  top: 0;
  transition: 1s;
}
header .closingFast {
  transition: transform 0.5s;
}
header .openedMenu span {
  background-color: red !important;
  position: absolute;
}
header .openedMenu span:first-of-type {
  rotate: 45deg !important;
}
header .openedMenu span:nth-of-type(2) {
  opacity: 0;
}
header .openedMenu span:nth-of-type(3) {
  rotate: -45deg !important;
}

@media all and (max-width: 925px) {
  header {
    padding: 10px 15px;
  }
  header div {
    position: fixed;
    width: 100%;
    right: 100%;
    top: 0%;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
    backdrop-filter: blur(250px);
    transition: 2s;
  }
  header div ul {
    flex-direction: column;
    width: 50%;
  }
  header .menuburger-icon {
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 170px;
  }
}

/*# sourceMappingURL=header.component.css.map */
