<header class="" #header>
  <a routerLink=""><img [src]="logoSource" alt='Logo'></a>
  <div class="" id="menuList" [ngClass]="{'openedMenu': isOpened}">

    <ul>
      <li [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact: true}"><a routerLink="">Home</a></li>
      <li routerLinkActive="activeLink"><a routerLink="/nfts">NFTs</a></li>
      <li routerLinkActive="activeLink"><a routerLink="/ethchart">Eth Chart</a></li>
      <li routerLinkActive="activeLink"><a routerLink="/contact">Contact</a></li>
      <li *ngIf="!isLoggedIn" routerLinkActive="activeLink"><a routerLink="/login">Sign in / Sign up</a></li>
      <li *ngIf="isLoggedIn" routerLinkActive="activeLink"><a
        routerLink="/profile">{{loggedInUserInfo.firstName + " " + loggedInUserInfo.lastName }}</a></li>

      <!-- <li *ngIf="isLoggedIn" routerLinkActive="activeLink" (click)="logOut()"><a (click)="logOut">Logout {{isLoggedIn}}</a></li> -->
      <button *ngIf="User" (click)="logout()">Logout</button>


    </ul>


  </div>

  <a class="menuburger-icon" id="menuburger-icon"
     #menuburgericon
     (click)="openAndCloseMenuBurger()"
     [ngClass]="{'openedMenu': isOpened}">

    <span></span>
    <span></span>
    <span></span>
  </a>

</header>
