@import "../../styles.scss";

footer {
    * {
        padding: 0;
        margin: 0;
    }

    background-color: $bgColor;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 15px;

    .container {

        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      max-width: 100%;

        div {

            h3 {
                margin-bottom: 10px;
              @media (max-width: 1012px){
                font-size: 20px;
              }
              @media (max-width: 914px){
                font-size: 18px;
              }
              @media (max-width: 700px){
                font-size: 16px;
              }

            }

            ul li {
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: white;

                  @media( max-width: 700px){
                    font-size: 14px;
                  }

                    &:hover {
                        color: $hoverLinkedColor;
                    }
                }
            }
        }

    }

    .copywrite {
        background-color: #8080808c;
        text-align: center;
        width: 55%;
      min-width: fit-content;
        padding: 10px;
        margin: 20px auto 0 auto;
        border-radius: 10px;
        color: #ffffff;

      @media(max-width: 700px){
        font-size: 14px;
      }
    }

}
