<form (ngSubmit)="sendMessage()" [formGroup]="form" class="col-lg-4 col-md-6 col-sm-8 col-10">
  <label for="name">Name:</label>
  <input type="text" id="name" formControlName="senderName" required><br><br>

  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email" required><br><br>

  <label for="subject">Subject:</label>
  <input type="text" id="subject" formControlName="subject" required><br><br>

  <label for="message">Message:</label><br>
  <textarea id="message" formControlName="message" rows="4" cols="50" required></textarea><br><br>

  <label for="file">Upload Image:</label>
  <input type="file" id="file" formControlName="image" (change)="addFile($event)"><br><br>

  <input type="submit" value="Submit">
</form>
