.filterDiv {

  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
  color: #ffffff;

}

.filterDiv div {

  display: flex;
  align-items: center;
  gap: 10px;

  label{
    font-size: 20px;
    font-weight: 500;
  }

}
