<div class="container w-100 px-3 mb-5" *ngIf="nft ; else check">

  <h2>{{nft.image.name}}</h2>

  <div class="d-flex justify-content-evenly my-5 flex-wrap gap-3">

    <img [src]="nft.image.url" [alt]="nft.image.name">

    <div class="d-flex flex-column">

      <div class="info d-flex flex-column justify-content-center h-100">
        <h4>Price : {{nft.price}} <img src="../../assets/imgs/Ethereum.png" alt="ETH"></h4>

        <h4>Created Date : {{nft.createdAt | dateFormat}}</h4>
      </div>
    </div>

  </div>

  <h4>Description :</h4>
  <p>{{nft.image.description}}</p>

</div>
<ng-template #check>
  <h3>No Results Found</h3>
</ng-template>
<hr>
