div:not(.searchDiv) {

  float: right;
  width: fit-content;
  min-width: 187px;
  color: #ffffff;

}

div .searchDiv {

  background-color: #ffffff;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  border-radius: 5px;
  overflow: hidden;

  @media (max-width: 767px) {

    height: 22px;

  }

}

div input {

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid #ffffff;
  outline: none;
  text-align: center;
  width: 75px;
  transition: 1s;
  font-size: 14px;

  @media (max-width: 767px) {
    font-size: 12px;
  }

  &::placeholder {
    @media (max-width: 767px) {
      font-size: 12px;
    }
  }

}


svg {

  width: 26px;
  border-right: 1px solid grey;
  background-color: #4fb77e;

}

div input:focus, div input:hover {

  width: 165px;

  @media(max-width: 767px) {
    width: 100px;
  }

}

span {

  @media (max-width: 767px) {
    font-size: 12px;
  }

}

.searchDiv:focus-within, .searchDiv:hover {
  border: 0.5px solid #FFFFFF;
  box-shadow: 0 0 10px 5px rgb(103 89 227 / 89%);
}


.resultSpan {

  color: #ff0000;
  font-size: 14px;

  @media (max-width: 767px) {
    font-size: 12px;
  }

}
