<div class="banner">

  <div>

    <h2>
      The <span>NFT</span> Artwork is
    </h2>
    <span class="line"></span>

  </div>

  <div class="row">
    <div class="contianer">


      <img src="../../assets/imgs/banniereHomePage.jpg" alt="" class="col-lg-12 col-md-10 col-10 m-auto">

    </div>

  </div>


</div>

<section class="">


  <p class="">The definition of NFT is Non Fungible Token, translated into French as non-fungible token. An NFT
    designates a digital asset (your work in digital format), which can be exchanged or transferred over the Internet
    using the blockchain. A blockchain allows any transaction to be recorded cryptographically in a digital database
    that is accessible to everyone.Similar to a digital ledger, completely transparent and secure.Non-fungible means
    that it has unique and identifiable characteristics. The main interest in the artistic field is that the ownership
    of an NFT is tamper-proof. Proof of authenticity is made possible thanks to the blockchain. A transaction on the
    blockchain is carried out in cryptocurrency</p>


  <p class="">
    <span>Wika</span> is specialize in providing a comprehensive view of the history of Non-Fungible Tokens (NFTs).
    Our platform
    allows you to track the past performance of NFTs and explore the evolution of this exciting new asset class. We
    offer a user-friendly interface that provides valuable insights into the market trends, key players, and
    emerging opportunities in the NFT space. Whether you're a seasoned investor or just getting started, our firm
    can help you stay ahead of the curve and make informed decisions in the world of NFTs.
  </p>

</section>

<section>


</section>
